mixin listLinks(listSidebar)
    .list-links-group
        h5
        ul
            li
                a(href="../dashboard/home.html" class="active")
                    .icon 
                        img(src="../../assets/images/menu/" + 'home' + ".svg" alt="")
                    span الرئيسية
    each group in listSidebar
        .list-links-group 
            if group.title 
                h5 #{group.title}
            ul
                each listItem , index in group.list
                    li
                        a(href=listItem.url)
                            .icon 
                                img(src="../../assets/images/menu/" + listItem.icon + ".svg" alt="")
                            span #{listItem.title} 


- var listSidebar = [{"title":"المنتجات","list":[{"title":"المنتجات","icon":"Product_Package", "url": "total-products.html"},{"title":"التصنيفات","icon":"plus", "url":"../dashboard/categories.html"}]},{"title":"الطلبات","list":[{"title":"الطلبات","icon":"Shopping_Bag", "url": "../dashboard/order-2.html"},{"title":"الصفقات","icon":"Tag", "url": "../dashboard/bargains.html"}]},{"title":"التسويق","list":[{"title":"السلات المتروكة","icon":"cart", "url": "../dashboard/Abandoned-baskets.html"}]},{"title":"العملاء","list":[{"title":"العملاء","icon":"users", "url": "../dashboard/clients.html"},{"title":"الرسائل","icon":"comm-chat", "url": "../dashboard/chat.html"}]},{"title":"الإعدادات","list":[{"title":"الشحن والتوصيل","icon":"fast", "url": "../dashboard/shipping-delivery.html"},{"title":"مواقع التخزين ","icon":"shed", "url": "../dashboard/storage-locations.html"},{"title":"طرق الدفع","icon":"wallet", "url": "../dashboard/payments.html"},{"title":"المخزون ","icon":"shipping", "url": "../dashboard/stocked.html"},{"title":"إدارة الفريق ","icon":"users", "url": "../dashboard/team.html"}]}];

.dash-sidebar
    .top-sidebar 
        .logo   
            img(src="../../assets/images/logo.png" alt="alt")
        .close-menu 
            i.fas.fa-times     
    .list-links 
        +listLinks(listSidebar)
