extends ../layouts/accountLayout.pug
include ../mixins/landingMixin.pug
include ../mixins/accountMixin.pug

block headContent
    +notisHead
block content
    .home-progress 
        .row.m-0.w-100
            .col-10
                h2.home-progress-title أكمل إعدادات متجرك
                .home-progress-bar-parent.m-0 
                    .home-progress-bar-inner(style="width:57%")
                    h4
                        span مكتمل
                        span <div class="counter">57</div>% 
        a.icon(href="#")
            svg 
                use(href="../../assets/images/icons/icons.svg#arrow-left")
    .support-content
        .sign-up-steps-title 
            h2  ﻧﻮع اﻟﻤﻨﺸﺄة
            p  ﻣﻦ ﻓﻀﻠﻚ أﺧﺘﺮ ﻧﻮع اﻟﻤﻨﺸﺄة   
        .d-flex.align-items-center.justify-content-center.flex-wrap
            - var boxes = [{title:'مطعم' , icon:'food-delivery'} , {title:'بقالة' , icon:'shopping-basket'} , {title:'مقهى' , icon:'coffee-pack'}, {title:'صيدلية' , icon:'medicine'}, {title:'فندق  ' , icon:'reception-bell'} , {title:'مدرسة  ' , icon:'pencil-case'} , {title:'حلاق' , icon:'barber-chair'} , {title:'فندق  ' , icon:'reception-bell'}]
            each box in boxes 
                .building-box.mx-3
                    input(type="radio" name="building" id=box.icon) 
                    .icon 
                        img(src="../../assets/images/building/" + box.icon + '.png' alt="")

                    h3 #{box.title}
        
            .building-box.other-building.mx-2
                input(type="radio" name="building" id='position') 
                .icon  
                    img(src="../../assets/images/building/" + 'position' + '.png' alt="")

                h3 أخرى
        .form-other.other-building-form
            .form-group 
                input(type="text" class="form-control" placeholder="إضافة منشأة أخرى")

        .form.mt-5
            .row.m-0.w-100.mt-5
                    .col-12.col-md-6
                        .input-text-icon-box.mb-3 
                            svg 
                                use(href="../../assets/images/icons/icons.svg#phone")
                            span رقم الجوال
                            input(type="text" id="phone" class="phone_number")
                            input(type="hidden" id="fullNumber")
                        .input-text-icon-box.form-group 
                            svg 
                                use(href="../../assets/images/icons/icons.svg#user-2")
                            span أﺳﻢ اﻟﻤﻨﺸﺄة :
                            input(type="text")
                        h4 ﺑﻴﺎﻧﺎت ﺗﻮاﺻﻞ اﻟﻤﻨﺸﺄة
                        .input-text-icon-box.form-group 
                            svg 
                                use(href="../../assets/images/icons/icons.svg#envelope")
                            span اﻟﺒﺮﻳﺪ اﻟﺎﻟﻜﺘﺮوﻧﻰ :
                            input(type="text")
                        .login-with 
                            a(href="")
                                svg 
                                    use(href="../../assets/images/icons/icons.svg#phone")

                            a(href="")
                                svg 
                                    use(href="../../assets/images/icons/icons.svg#whatsapp")                 
                        .btn-submit.mt-5 
                            +Button({color:'orange' , name:'حفظ التعديلات ', class:'btn-fill'}) 
            







