extends ../layouts/authLayout.pug

block content 
    .icon 
        img(src="../../assets/images/icons/waving-hand.svg" alt="")
    h1 مرحباً . قم بتسجيل الدخول 
    form(action="")

        .input-text-icon-box.form-group 
            svg 
                use(href="../../assets/images/icons/icons.svg#envelope")
            span اﻟﺒﺮﻳﺪ اﻟﺎﻟﻜﺘﺮوﻧﻰ :
            input(type="text")
            
        .input-text-icon-box.form-group 
            svg 
                use(href="../../assets/images/icons/icons.svg#key")
            span كلمة المرور : 
            input(type="password")

        #error-msg
        #valid-msg
        .btn-submit 
            button.btn.hvr-float-shadow
                span تسجيل الدخول   
        .bottom-form-text 
            h5 ما اشتركت معنا بعد   
                a(href="../auth/sign-up.html") إشترك ألحين    