extends ../layouts/authLayout.pug

block content 
    .icon 
        img(src="../../assets/images/icons/waving-hand.svg" alt="")
    h1 مرحباً بك .  تسجيل جديد 
    .bottom-form-text.mb-4
        h5.m-0 لديك حساب؟  
            a(href="../../html/auth-landing/log-in.html") تسجيل دخول
    form(action="")
        .input-text-icon-box 
            svg 
                use(href="../../assets/images/icons/icons.svg#phone")
            span رقم الجوال
            input(type="text" id="phone" class="phone_number")
            input(type="hidden" id="fullNumber")
        #error-msg
        #valid-msg
        .btn-submit 
            a(href="../../html/auth-landing/confirm.html").btn.hvr-float-shadow
                span تسجيل    
    